
<%- include('partials/header'); -%>


<h1>home</h1>

<p><%= hometext %></p>




 <% newposts.forEach(function(newpost){ %>

   <h1><%= newpost.title %></h1>
  <p><%= newpost.content %></p>

<% }) %>



<%- include('partials/footer'); -%>
